<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Raca</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let raca of racas" >
    <ion-card-header>
      {{raca.nome}}
    </ion-card-header>


  </ion-card>

 
   

</ion-content>
<ion-footer>
  <ion-toolbar>
    
     
      <ion-button color="primary" [routerLink]="['/detalhe-raca']">
       Novo
      </ion-button>
     
  
  </ion-toolbar>
</ion-footer>
